body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #3b76ff;
}

.container {
  width: 400px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.addItemSection {
  margin-top: 50px;
}

.addForm {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

#addIncomeButton {
  display: inline-block;
}

h1,
h2,
h3,
p {
  text-align: center;
  color: #333;
}

h2 {
  margin: 15px 0;
}

.subheading {
  color: #555;
  margin-top: 30px;
}

input,
label {
  margin: 5px;
}

.button {
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

.balance-text {
  font-weight: bold;
  margin-bottom: 20px;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list-item {
  margin-bottom: 5px;
}

.edit-button {
  background-color: #008000;
  margin: 10px 0;
}

.modal {
  position: absolute;
  background-color: grey;
}

.closeModal {
  padding: 15px;
  background-color: white;
}

.delete-button {
  background-color: #ff0000;
  margin: 10px 0;
}
